<br>
<div class="alert alert-success" *ngIf="deleteUser">
  User deleted successfully.
</div>
<table class="table table-bordered" *ngIf="users.length > 0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Balance</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.firstName + " "+ user.lastName | titlecase}}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.salary | currency:'L.E' }}</td>
      <td>
        <!-- <a [routerLink]="['/user/add']" class="btn btn-secondary a-btn-slide-text">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <span><strong>Add</strong></span>            
        </a> -->
        <!-- <a [routerLink]="['/user/edit']" [queryParams]="{q: user.id}" class="btn btn-primary a-btn-slide-text">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span><strong>Edit</strong></span>            
        </a> -->
        <!-- <a href="#" (click)="deleteUser(user.id)" class="btn btn-danger a-btn-slide-text">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span><strong>Delete</strong></span>            
        </a> -->
        <a [routerLink]="['/user/details', user.id]" class="btn btn-secondary a-btn-slide-text">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          <span><strong>Details</strong></span>            
        </a>
      </td>
    </tr>
  </tbody>
</table>